.blogindex-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  align-items: center;
}

.blogindex-header {
  margin: 0;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: #82aaff;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.blogindex-posts {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.blogindex-post__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogindex-info__title {
  padding-bottom: 5px;
  color: #eceff4;
  font-size: 16px;
  font-weight: bold;
}

.blogindex-info__date {
  font-size: 14px;
  color: #e5e9f0;
}

.blogindex-posts__post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 14px;
  background: #1f2329;
  border-radius: 0.3rem;
  width: 350px;
  padding: 1em;
  text-decoration: none;
  box-shadow: rgb(0 0 0/ 15%) 0px 5px 10px 0px;
}

.new {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(255, 255, 255, 0.6) 30%,
    rgb(255, 255, 255) 50%,
    rgba(255, 255, 255, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s linear infinite;
  background: #88c0d0;
  font-weight: bold;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

.blogindex-posts__post:hover {
  background: #5e81ac;
}

.blogindex-posts__post:visited {
  background: #5e81ac;
}

.blogindex-posts__post:visited:hover {
  background: #88c0d0;
}

@media only screen and (max-width: 320px) {
  .blogindex-container {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 10px;
  }
}
@media only screen and (min-width: 320px) {
  .blogindex-container {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 16px;
  }
}

@media only screen and (min-width: 481px) {
  .blogindex-container {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 17px;
  }
}
@media only screen and (min-width: 641px) {
  .blogindex-container {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 17px;
  }
}
@media only screen and (min-width: 961px) {
  .blogindex-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media only screen and (min-width: 1025px) {
  .blogindex-container {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media only screen and (min-width: 1281px) {
  .blogindex-container {
    margin-left: 20%;
    margin-right: 20%;
  }
}
