{{template "partials/head" $title := "Blog - WildwoodTech"}}
<link rel="stylesheet" href="/static/styles/templates/blogindex.css" />
</head>

<body>
  {{template "partials/navbar" .}}
  <div class="blogindex-container">
    <p class="blogindex-header">Wildwood Tech Posts</p>
    <ul class="blogindex-posts">
      {{range $k, $v := .blogIndex}}
      {{if eq $v.title "New Blog Site!"}}
      <a class="blogindex-posts__post new" href="/blog/{{$v.fileName}}">
        {{else}}
        <a class="blogindex-posts__post" href="/blog/{{$v.fileName}}">
          {{end}}
          <div class="blogindex-post__info">
            <span class="blogindex-info__title">
              {{$v.title}}
            </span>
            <span class="blogindex-info__date">
              {{$v.date}}
            </span>
          </div>
        </a>
        {{end}}
    </ul>
  </div>
  {{template "partials/end" .}}