{{template "partials/head" $title := "Series - WildwoodTech"}}
</head>

<body>
  {{template "partials/navbar" .}}
  <div class="main-container">
    <p class="main-header">
      {{.Series}} Series
    </p>
    <ul class="index-list">
      {{range $k, $v := .seriesPosts}}
      <li>
        <a class="list-anchor" href="/blog/{{$v.fileName}}">
          <div class="list-anchor__info">
            <span class="info-title">
              {{$v.title}}
            </span>
            <span class="info-date">
              {{$v.date}}
            </span>
          </div>
        </a>
      </li>
      {{end}}
    </ul>
  </div>
  {{template "partials/end" .}}