{{template "partials/head" $title := "Series - WildwoodTech"}}
</head>

<body>
  {{template "partials/navbar" .}}
  <div class="main-container">
    <p class="main-header">Series Posts</p>
    <ul class="index-list">
      {{range .seriesIndex}}
      <li>
        <a class="list-anchor" href="/series/{{.}}">
          <div>
            <span class="info-title">
              {{.}}
            </span>
          </div>
        </a>
      </li>
      {{end}}
    </ul>
  </div>
  {{template "partials/end" .}}